<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
		<title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
		<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	{{- if isset .Site.Params "favicon" -}}
		<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{- template "_internal/schema.html" . -}}
	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/normalize.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/main.css" />
	{{- if isset .Site.Params "customcss" }}
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customCSS }}" />
	{{ end }}

        <link id="dark-scheme" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/dark.css" />
        {{- if isset .Site.Params "customdarkcss" }}
                <link id="dark-scheme" rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customDarkCSS }}" />
        {{- end }}

	{{ if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
		<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	{{- else if (isset .Site.Params "social") -}}
		<script src="{{ .Site.BaseURL }}js/feather.min.js"></script>
	{{ end }}
		<script src="{{ .Site.BaseURL }}js/main.js"></script>
	{{- if isset .Site.Params "customjs" -}}
		{{- range .Site.Params.customJS }}<script src="{{ $.Site.BaseURL }}{{ . }}"></script>{{- end }}
	{{- end }}
    <script async defer 
        src="https://analytics.umami.is/script.js" 
        data-website-id="05fdd7be-3dc3-468c-a30a-fc9ffd198b33"
        ></script>
	<link rel="webmention" href="https://webmention.io/adhikasp.my.id/webmention" />
	<link rel="pingback" href="https://webmention.io/adhikasp.my.id/xmlrpc" />

	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "Person",
		  "@id": "https://adhikasp.my.id/#person",
		  "name": "Adhika Setya Pramudita",
		  "url": "https://adhikasp.my.id",
		  "sameAs": [
			"https://stackoverflow.com/users/4504053/adhika-setya-pramudita",
			"https://linkedin.com/in/adhikasp",
			"https://github.com/adhikasp",
			"https://gitlab.com/adhikasp",
			"https://www.instagram.com/adhikasp/"
		  ]
		}
	</script>
	{{ if ne .Type "page" }}
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "BlogPosting",
		  "headline": "{{ .Title }}",
		  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
		  {{ with .Lastmod }}"dateModified": "{{ .Format "2006-01-02T15:04:05Z07:00" }}",{{ end }}
		  "wordCount": {{ .WordCount }},
		  "url": "{{ .Permalink }}",
		  "author": {
			"@type": "Person",
			"@id": "https://adhikasp.my.id/#person"
		  },
		  "publisher": {
			"@type": "Person",
			"@id": "https://adhikasp.my.id/#person"
		  },
		  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
		  "mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "{{ .Permalink }}"
		  }
		}
	</script>
	{{ end }}
</head>
