{{ $notebook := .Get 0 }}
{{ with .Page.Resources.GetMatch $notebook }}
  {{ with .Content | transform.Unmarshal }}
    {{ range .cells }}
      {{ if eq .cell_type "markdown" }}
        {{ delimit .source "" | $.Page.RenderString }}
      {{ end }}

      {{ if eq .cell_type "code" }}
        {{ $code := delimit .source "" }}
        {{ $lines := split $code "\n" | len }}
        {{ if or (gt $lines 20) (isset .metadata "hide") }}
          <details>
            <summary class="ipynb-button">Show code ({{ $lines }} lines)</summary>
            {{ highlight $code "python" "" }}
          </details>
        {{ else }}
          {{ highlight $code "python" "" }}
        {{ end }}

        {{ if .outputs }}
          <div class="cell-output">
            {{ range .outputs }}
              {{ if .text }}
                <pre class="cell-output-text">{{ range .text }}{{ . | safeHTML }}{{ end }}</pre>
              {{ end }}
              
              {{ range $type, $data := .data }}
                {{ if strings.Contains $type "image" }}
                  <img src="data:{{ $type }};base64,{{ $data | safeHTML }}" alt="Cell output">
                {{ end }}
                
                {{ if strings.Contains $type "text/html" }}
                  {{ range $data }}{{ . | safeHTML }}{{ end }}
                {{ end }}

                {{ if strings.Contains $type "text/markdown" }}
                  {{ range $data }}{{ . | markdownify }}{{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  <br>
  <a href="{{ .RelPermalink }}" download>🗒️ Download ({{ $notebook }})</a>
  <br>
{{ end }}